@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

/* Hide extra elements during print */
@media print {
  .no-print {
    display: none !important;
  }
}